# Build Artifacts
dist/
*.zip
*.7z
*.exe
*.msi

# Temporary & Cache
**/tmp/
*.tmp
*.log
Benchmark_Report.md
*.prof*

# Editors
.vscode/
.idea/

# PowerShell
*.ps1xml
*.psd1~
*.psm1~
*.ps1~
Modules/

# OS
Thumbs.db
Desktop.ini
.DS_Store
